html {
    scroll-behavior: smooth;
    scroll-margin: 50px;
}

body{

    font-family: 'Amazon Ember';

}

#body h1{

    border-bottom: none;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 10px;
    padding-bottom: 0px;
    color: #232F40;

}

#body h2{

    border-bottom: none;
    margin-bottom: 5px;
    padding-bottom: 0px;
    font-size: 24px;
    font-weight: 600;
    color: #232F40;

}

#body h3{

    border-bottom: none;
    display: inline;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 0px;
    
    

}

#body h4 {

    font-weight: 500;
    font-size: 16pt;

}

h1{

    border-bottom: none;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 10px;
    color: #232F40;

}

h2{

    border-bottom: none;
    margin-bottom: 5px;
    color: #232F40;

}

h3{

    border-bottom: none;
    display: inline;
    font-weight: 500;
    font-size: 14pt;
    
}

.header{

    width: 92vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.title-square{

    top:7vh;
    width: 90vw;
    left: 0;
    -webkit-user-drag: none;
    margin-left: -12vw;
}

.intro-text{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: left;
    padding: 0px 50px 50px 50px;

}

.intro-text h3{

    font-size: 16pt;

}

span{

    display: inline;
    font-weight: bold;
    color: #ff5559;

}


.btn-container{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    width: 80vw;
    justify-self: center;

}

/* .btn-card{

    background-color: white;
    box-shadow: 0px 0px 7px #18181877;
    border-radius: 23px;
    padding: 20px;
    width: 24vw;
    height: 23vh;
    transition: 0.5s;
    
} */

.btn-card{

    background-color: white;
    box-shadow: 0px 0px 7px #18181877;
    border-radius: 23px;
    padding: 20px;
    width: 480px;
    height: 650px;
    transition: 0.5s;
    z-index: 2;

}

.btn-card:hover{

    box-shadow: 0px 0px 7px #18181822;
    transition: 0.3s;

}

.card-btn{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: white;
    background-color: #d8057b;
    box-shadow: 0px 3px 7px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    
}

.card-btn:hover{

    background-color: white;
    box-shadow: 0px 0px 7px #18181855;
    color: #d8057b;
    transition: 0.3s;

}

.second-card-btn{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: white;
    background-color: #32addb;
    box-shadow: 0px 3px 7px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 300px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    
}

.second-card-btn:hover{

    background-color: white;
    box-shadow: 0px 0px 7px #18181855;
    color: #6bcbee;
    transition: 0.3s;
    

}

.resources-container{

    background: rgb(216,5,123);
    background: linear-gradient(90deg, rgba(216,5,123,1) 0%, rgba(255,108,108,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 240px;
    width: 80vw;
    margin-top: 25px;
    color: white;
    padding-left: 2vw;
    border-radius: 12px;
    justify-self: center;
    

}

.resources-container h3{

    font-size: 20pt;
    margin-top: 30px;
    z-index: 1;
    justify-self: center;

}

.resources-container h4{

    font-size: 16pt;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 25px;
}

.resources-btn-container{
    display: flex;
    gap: 25px;

}

.resources-btn{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: #2a7fc1;
    background-color: white;
    box-shadow: 0px 3px 0px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 310px;
    height: 40px;
    z-index: 5;
    transition: 0.5s;
    cursor: pointer;
    

}


.resources-btn:hover{

    background-color: white;
    box-shadow: 0px 3px 10px #18181855;
    color: #2a7fc1;
    transition: 0.3s;
    scale: 103%;

}

.second-resources-btn{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: #ff5559;
    background-color: white;
    box-shadow: 0px 3px 0px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 310px;
    height: 40px;
    z-index: 5;
    transition: 0.5s;
    cursor: pointer;
    

}


.second-resources-btn:hover{

    background-color: white;
    box-shadow: 0px 3px 10px #18181855;
    color: #ff5559;
    transition: 0.3s;
    scale: 103%;

}


.third-resources-btn{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: #232F40;
    background-color: white;
    box-shadow: 0px 3px 0px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 310px;
    height: 40px;
    z-index: 5;
    transition: 0.5s;
    cursor: pointer;
    

}


.third-resources-btn:hover{

    background-color: white;
    box-shadow: 0px 3px 10px #18181855;
    color: #111d2e;
    transition: 0.3s;
    scale: 103%;

}


.btn-home-container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;


}

.btn-home{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: white;
    background-color: #d8057b;
    box-shadow: 0px 3px 7px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 250px;
    height: 40px;
    z-index: 5;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-home:hover{

    background-color: white;
    box-shadow: 0px 0px 7px #18181855;
    color: #d8057b;
    transition: 0.3s;

}

.btn-home img{

    width: 30px;
    padding: 0px 12px 0px 0px;
    filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(327deg) brightness(102%) contrast(107%);

}

.btn-home:hover img{

    filter: invert(19%) sepia(82%) saturate(7051%) hue-rotate(317deg) brightness(85%) contrast(101%);

}


table{

    border-radius: 25px;
    padding: 25px;
    border-color: none;
    border-width: 1.5px;
    text-align: center;
    
}


.table-container{

    display: flex;
    align-items: center;
    justify-self: center;
    column-gap: 100px;
    width: 80vw;
    margin-bottom: 80px;


}

table tr{

    font-size: 16pt;

}

table td{

    width: 250px;
    height: 100px;
    margin: 2vw;
    padding: 10px;
    border: none;

}

table th:first-child{

    height: 100px;
    border-top-left-radius: 25px;

}

table th:last-child{

    height: 100px;
    border-top-right-radius: 25px;

}

.first-tb-row{

    background-color: #fec66a;
    height: 100%;

}

.second-tb-row{

    background-color: #fcefd8;


}

.third-tb-row{

    background-color: #ffdfb5;

}

.fourth-tb-row{

    background-color: #fec66a;

}

table tr:last-child td:first-child{

    border-bottom-left-radius: 25px;

}

table tr:last-child td:last-child{

    border-bottom-right-radius: 25px;
}

#xwikicontent.syntax-xwiki table > tbody > tr > td{

    border: none;
}

#xwikicontent.syntax-xwiki table > tbody > tr > th{

    border: none;

}

#xwikicontent.syntax-xwiki table{

    border: none;
}


.toc-container{

    min-width: 250px;
    margin-left: 2vw;
  
  }

.toc-elements{

    position: sticky;
    top: 25px;
    line-height: 1em;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
    font-size: 18px; 

}

.toc-container li{

    margin-top: 12px;
    transition: 0.3s;

}

.toc-container li:hover{

    margin-top: 16px;

}

.toc-container a{

    text-decoration: none;
    transition: 0.3s;

}

.toc-container a:hover{

    font-size: 19px;
    background-color: #f2f2f2;
    padding: 7px;
    border-radius: 20px;
    transition: 0.3s;

}

.main-container{

    display: flex;

}
