body{

    font-family: 'Amazon Ember';

}

#body h1{

    border-bottom: none;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 10px;
    padding-bottom: 0px;

}

#body h2{

    border-bottom: none;
    margin-bottom: 5px;
    padding-bottom: 0px;
    font-size: 24px;
    font-weight: 600;

}

#body h3{

    border-bottom: none;
    display: inline;
    font-weight: 500;
    color: #747474;
    font-size: 18pt;
    padding-bottom: 0px;
    

}

h1{

    border-bottom: none;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 10px;

}

h2{

    border-bottom: none;
    margin-bottom: 5px;

}

h3{

    border-bottom: none;
    display: inline;
    font-weight: 500;
    color: #747474;
    font-size: 14pt;
    

}

.header{

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.title-square{

    top:7vh;
    width: 90vw;
    left: 0;
    -webkit-user-drag: none;
    margin-left: -12vw;
}

.intro-text{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: left;
    padding: 50px;

}

.intro-text h3{

    font-size: 16pt;

}

span{

    display: inline;
    font-weight: bold;
    color: #ff5559;

}


.btn-container{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

/* .btn-card{

    background-color: white;
    box-shadow: 0px 0px 7px #18181877;
    border-radius: 23px;
    padding: 20px;
    width: 24vw;
    height: 23vh;
    transition: 0.5s;
    
} */

.btn-card{

    background-color: white;
    box-shadow: 0px 0px 7px #18181877;
    border-radius: 23px;
    padding: 20px;
    width: 600px;
    height: 290px;
    transition: 0.5s;
    z-index: 2;
    
}

.btn-card:hover{

    box-shadow: 0px 0px 7px #18181822;
    scale: 105%;
    transition: 0.3s;

}

.card-btn{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: white;
    background-color: #d8057b;
    box-shadow: 0px 3px 7px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    
}

.card-btn:hover{

    background-color: white;
    box-shadow: 0px 0px 7px #18181855;
    color: #d8057b;
    transition: 0.3s;

}

.resources-container{

    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    height: 350px;
    margin-top: 25px;

}

.resources-container h3{

    font-size: 18pt;
    margin-top: 60px;
    z-index: 1;

}

.resources-container img{

    -webkit-user-drag: none;
    position: relative;
    scale: 65%;
    margin: 0;
    top: -420px;
    pointer-events: none;

}

.resources-btn{

    font-family: 'Amazon Ember';
    font-size: 16pt;
    font-weight: 500;
    color: white;
    background-color: #32addb;
    box-shadow: 0px 3px 7px #18181844;
    border-radius: 27px;
    border-width: 0;
    width: 275px;
    height: 40px;
    z-index: 5;
    transition: 0.5s;
    cursor: pointer;
    

}


.resources-btn:hover{

    background-color: white;
    box-shadow: 0px 0px 7px #18181855;
    color: #32addb;
    transition: 0.3s;

}
